/* here we go */ 
/* img! not image or image1/2/3 */

body {
    background-color: whitesmoke;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin: 0%;
    width: 100%;
    display: block;
 }

 header {
    text-align: center;
    background-image:cross-fade();
}

header >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 1em;
    align-items: right;
}
    /* organizing it makes it easier to edit later */
 h2 {
    display: flex;
    text-align: center;
    width: 100%;
}

footer {
    text-align: center;
    font-size: small;
    background-color: whitesmoke;
}

nav {
    position: sticky;
    top: 0%;
}

iframe {
    width: 100%;
}

/* MORE SPECIFIC CLASSES SELECTORS -specific */
.whitePad {
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    flex-direction:column;
}

.brandsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* SPECIFIC OR IDS SELECTORS - id is only one time*/


#studiologos {
    width: 100%;     
        width: 100%;
    width: 100%;     
}


#map h1 {
text-align: center; 
font-size:30px;
}


/* did a lot here with h2 and it turned out useless, bruh */


/* should I just use the "order" function" */
#map h1 {
    text-align: center;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.studiologos {
    display: flex;
}