/* here we go */ 
/* img! not image or image1/2/3 */

nav {
    position: sticky;
    top: 0%;
}
.whitePad {
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    flex-direction:column;
}

body {
    background-color: whitesmoke;
}

img {
   margin: 0%;
   width: 100%;
   display: block;
}

header {
    text-align: center;
    background-image:cross-fade();
}

header >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 1em;
    align-items: right;
}

/* did a lot here with h2 and it turned out useless, bruh */
h2 {
    display: flex;
    text-align: center;
    width: 100%;
}

footer {
    text-align: center;
    font-size: small;
    background-color: whitesmoke;
}

/* should I just use the "order" function" */

#studiologos {
        width: 100%;
        display: grid;
        grid-template-columns: 20fr 20fr; /* something's wrong here */
        flex-direction: column;
        justify-content: center;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min height: 100vh;
    overflow-x: hidden;
}

.studiologos {
    display: flex;
}

/*
.brandsGrid {
    display: flex;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    margin-left: 30em;
    margin-right: 30em;
    gap: 2em;
    grid-template-columns:repeat(4, 20 em);
    grid-template-rows: 2;
}

.gridSpan2 {

}

/* .main { THIS WAS A FAIL
    position:absolute;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300));
    column-gap: 15px;
    row-gap: 15;
}
{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

*/